* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #FAEEDC;
}

h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.container {
    height: 30rem;
    width: 30%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    background-color: #F0E0C7;
}

.container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.container-header label {
    font-size: 1.2rem;
    font-weight: bold;
}

#hexColor {
    width: 70%;
    padding: .4rem;
    font-size: 1.1rem;
    border: 1px solid #EBD7B6;
    border-radius: .1rem;
    outline: none;
}

.container-header button {
    padding: .4rem;
    color: #FFF;
    font-size: .9rem;
    background-color: #000;
    cursor: pointer;
    transition: .4s;
}

.container-header button:hover {
    background-color: #444;
}

.container-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-body h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.rgb-color{
    display: flex;
    flex-direction: row;
}

.rgb-color label{
    padding: .5rem;
    color: #FFF;
    border: none;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    background-color: #000;
}

#rgb-color {
    width: 50%;
    padding: .2rem;
    border: 1px solid #EBD7B6;
    outline: none;
    font-size: 1.1rem;
}

#box-color {
    height: 200px;
    width: 100%;
    border-radius: .3rem;
    border: 1px solid #EBD7B6;
    background-color: #000000;
}

.container-footer p {
    font-size: .8rem;
    font-style: italic;
}

@media (max-width: 1150px) {

    .container {
        width: 100%;
    }

}